body {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.9528011888349089) -90%,
    rgb(10, 101, 153) 87%
  );
}

.container {
  padding-left: 2rem;
}
