nav {
  ul {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.747);

    li {
      display: flex;
      justify-content: center;
      width: 96.5px;
      align-items: center;
      a {
        width: 96.5px;
        padding: 15px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}

a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(125, 197, 77);
  padding: 15px;
}


