.panel {
  background-color: rgb(52, 83, 95);
  margin: 0 40px 40px 40px;
  color: rgb(197, 197, 175);
  font-family: "Courier New", Courier, monospace;
  padding: 10px 30px 30px 30px;
  border: 1px solid #999;
  border-radius: 10px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 5px;
      .vim-category {
        width: 20%;
      }
      .vim-title {
        width: 50%;
      }
      .vim-commands {
        width: 20%;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .panel {
    ul {
      li {
        flex-direction: column;
      }
    }
  }
}
