.panel {
  margin: 0 40px 40px 40px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px 30px 30px 30px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      background-color: rgb(104, 118, 136);
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      width: 100%;
      padding: 10px;
      border-radius: 7px;
      margin-bottom: 10px;
      box-shadow: 2px 2px 2px 1px black;
      .vim-category {
        width: 20%;
      }
      .vim-title {
        width: 30%;
      }
      .vim-commands {
        width: 30%;
        font-weight: bold;
      }

    }
    li:nth-child(2n + 0) {
      background-color: rgb(43, 50, 90);
    }
    li:hover {
      background-color: rgb(255, 255, 255);
    }
  }
  

}
  @media screen and (max-width: 700px) {
  .panel {
    ul {
      li {
        font-size: 1rem;
        flex-direction: column;
        
      }
    }
  }
}
