@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.vimninjabelts {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 5px;
  width: 30rem;

  .count-all {
    display: flex;
    justify-content: center;
  }
  .vimTitle {
    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-family: "Share Tech Mono", monospace;
      padding: 5px;
      li {
        list-style: none;
        border: 1px solid black;
      }

      .title_belt {
        background-color: rgb(44, 151, 76);
        padding: 5px;
      }

      .commands {
        background-color: rgb(177, 177, 177);
        font-weight: bold;
        text-align: center;
        font-size: 22px;
        padding: 5px;
      }
      @media screen and (max-width: 599px) {
        img:hover {
          transform: scale(1.1);
          border: 1px white solid;
          border-radius: 7px;
          margin-top: 5px;
          cursor: -moz-zoom-in;
          cursor: -webkit-zoom-in;
          cursor: zoom-in;
        }
      }
      @media screen and (min-width: 600px) {
        img:hover {
          transform: scale(1.8);
          border: 1px white solid;
          border-radius: 7px;
          margin: 60px;
          cursor: -moz-zoom-in;
          cursor: -webkit-zoom-in;
          cursor: zoom-in;
        }
        img:active {
          transform: scale(4);
          background-color: red;
        }
      }
    }
  }
}

.inputBox {
  padding: 5px;
  border-radius: 20px;
  width: 250px;
  margin: 15px;
}

.selectBox {
  position: absolute;
  margin-top: 20px;
}

@media screen and (max-width: 470px) {
   .inputBox {
    width: 55vw;
 }
 
  .selectBox {
    width: 20vw;
 }
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 470px) {
  .vimninjabelts {
    padding-left: 5px;
    width: 90vw;
  }

}
